"source ~/.vimrc
set modelines=0
set nocompatible
set backspace=2
set scrolloff=5
set showcmd
set showmode
set history=100
set hlsearch
set wrapscan
set ruler
set matchpairs=(:),{:},[:],<:>,?:\:
set number
set relativenumber
syntax on
set shiftwidth=4
set softtabstop=4
set laststatus=2
let mapleader=","
nmap <silent> <leader>/ :nohlsearch<CR>
filetype on
map <leader>r :action Run<CR>
map <leader>i :action ImplementMethods<CR>
map <leader>o :action OverrideMethods<CR>
map <leader>h :action TypeHierarchy<CR>
map <leader>s :action Android.SyncProject<CR>

